.diseño{
    background-color: blueviolet;
    color: rgb(255, 0, 0);
    border-radius: 10px;
    font-size: 30px;
    text-shadow: #b8093b;
    margin-left: 500px;
    margin-right: 500px;
    background: radial-gradient(circle, #CCFBFE, #CDD6DD);
    font-family: 'Comic Sans MS', cursive;
  
}

#map {
    height: 90vh;
    left: 50vh;
    width: 50%;
    display: flex;
    border-radius: 40px;
  }

.titulo{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  transition: transform 0.3s;
  background: linear-gradient(to right, #0A090C, #F0EDEE, #07393C);
}

